---
name: Pi Cluster CI
'on':
  pull_request:
  push:
    branches:
      - main

jobs:

  lint-yaml:
    name: Lint all of the Pi-Cluster YAML files.
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.14.0'

      - name: Install test dependencies.
        run: pip3 install yamllint

      - name: Lint all of the infra YAML files
        run: cd ./infra/pi-cluster && yamllint .
